/[if lt IE 9]
  = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'
  <style type='text/css'>a,input,.action,.page_title,.button,.buttons,.next,.previous,li.on,ul.other_story{background-image:none !important}</style>
